<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-chat</title>
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js" integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  

    <style>
        body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
  
       
      </style>
</head>
<body>

    <div class="container-fluid panel">
        <div class="groupBox">
      
            <input type="text" name="GroupName" id="GroupName" placeholder="Enter Name" required>
            <input type=" submit" class="btn btn-primary" onclick="CreateGroup()" value="Create Group">
           <ul id="groupPanel">
             
            
           </ul>

        </div>
       <div class="container msg-box" >
           <div class=" chatBoxHeader"><h5 id="headGroupName" > </h5>
            
            <div id="headerBtn">
                 <div id="addBtn" ><button   onclick="AddUserInGroup()">Add</button></div>
                 <div id="viewBtn">  <button  onclick="seeUserInGroup()">See</button></div>
                 <div id="userName"></div>
                 <Div>
                  <form  id="form" enctype="multipart/form-data">
                    <input type="file" name="image" id="file" accept="image/*"  onchange="sendImage(this)">
                 
            
                    </form>
                 </Div>
               
          </div>
          </div>
          
           <div id="Box">
               <div id="msgBox">
                <div  id="addUserPanel">

                  <input type="button" value="X" onclick="hideAddUserPanel()">
                 
                  <div class="addUserPanel-child" id="SearchUsers" style="display: none;">
                      <h5> Add Participents</h5>
                     
                          <input type="email" name="search" id="search" placeholder="Enter Email" required>
                          <input type="button" value="Search" onclick="SearchUsers()">
                  
                      
                        
                  </div>
                 
                  <ul id="groupMenbers">
             
                  </ul>
                  <ul id="membersofgroup">
                      <h5> Participents</h5>
                     
                
                  </ul>
  
              </div>
  
                 
  
             
                
                  
                  
                   
               
               </div>

           </div>
          
          
       </div>
      
    </div>
    <div >
      

        <div>
          <form action="msg-send" method="post" id="send-container">
            <input type="text" name="message" id="messageInp" class="form-control" placeholder="Enter message" >
            <button class="btn btn-success " type="submit" onclick="msgAuth()">Send</button>
          </form>
        </div>
     </div>
     
  
    
  
   
    <script src="/socket.io/socket.io.js"></script>
    <script src="msgBox.js"></script>
  
    <script>
      const socket = io();

      const messages = document.getElementById('msgBox');
      const form = document.getElementById('send-container');
      const input = document.getElementById('messageInp');
    

      form.addEventListener('submit', (e) => {
        e.preventDefault();
        const groupId = localStorage.getItem('current_groupId');
            const room = `group${groupId}`;
        if (input.value) {          
         socket.emit('chat message', input.value, room);
         
        }
      });
    

      socket.on('chat message', (msg) => {
        const item = document.createElement('div');
        const img = document.createElement('img');
        img.src = msg;
        img.style.maxHeight = '200px';
         img.style.maxWidth ='200px';
        item.classList ='container message left'
        item.textContent = ' other :'+ msg;
        item.appendChild(img)
        messages.appendChild(item);
        messages.scrollTo(0, document.body.scrollHeight);
      });
    </script>

<script>
        
 function myWonMessage(){
  const div = document.getElementById('msgBox');
  const message = document.getElementById('messageInp').value;
  const messageDiv = document.createElement('div');
  const img = document.createElement('img');
     img.src = message;
     img.style.maxHeight = '200px';
     img.style.maxWidth ='200px';
  messageDiv.classList ="container message right";
  const textNode = document.createTextNode(`you : ${message}`);
    
    messageDiv.appendChild(textNode);
    messageDiv.appendChild(img);
    div.appendChild(messageDiv);
    messages.scrollTo(0, document.body.scrollHeight);


 }

  function msgAuth(){
      const token = localStorage.getItem('token');
      const groupId = localStorage.getItem('current_groupId');
     const message = document.getElementById('messageInp').value;
     try {
      axios.post('http://localhost:4000/msg-send',{message, groupId},{headers:{"Authorization": token}})
      .then((Response) =>{
           
           myWonMessage();
           document.getElementById('messageInp').value = ' ';
         
      })
      .catch((err)=>{
        console.log(err)
      })

     } catch (error) {
        console.log(error)
     }
      
    



  }
</script>

  </body>


<!--<body>
     <nav>
      
        <img  class="logo" src="chat.jpeg" alt="icon loding ....">
      

     </nav>
     
     <div class="send">
        <form action="msg-send" method="post" id="send-container" onsubmit="msgAuth()">
              <input type="text" name="message" id="messageInp" required>
              <button class="btn " type="submit">Send</button>
        </form>
     </div>
     
     <script src="/socket.io/socket.io.js"></script>

    <script>
      const socket = io();

      const messages = document.getElementById('msgBox');
      const form = document.getElementById('send-container');
      const input = document.getElementById('messageInp');

      form.addEventListener('submit', (e) => {
        e.preventDefault();
        if (input.value) {
          socket.emit('chat message', input.value);
          input.value = '';
        }
      });

      socket.on('chat message', (msg) => {
        const item = document.createElement('div');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
 
     
        
</body>-->

</html>